body { background-color: #000000; color: #EEEEEE; font-size: 14px; font-family: Arial, Helvetica, sans-serif }
a { font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: blue }
td { font-size: 14px }
td.content { color: #000000; font-size: 14px }
h2 { font-family: Arial, Helvetica, sans-serif; }
table { border-spacing: 10px; border-collapse: separate; border: none; }
td { padding: 5px; border: none; background-color: #090909; }

