{% extends "base.html" %}

{% block content %}
    <h1>Claim</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.dogecoinaddress.label }}<br>
            {{ form.dogecoinaddress(size=32) }}<br>
            {% for error in form.dogecoinaddress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ipaddress.label }}<br>
            {{ form.ipaddress(size=64) }}<br>
            {% for error in form.ipaddress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

