{% extends "base.html" %}

{% block content %}
   {{ super() }}
    <br /><br />
<center>
            <h4>IP = {{ post.node_ip }}</h4>
            <h4>Version = {{ post.node_version }}</h4>
            <h4>Country = {{ post.node_country }}</h4>
            <h4>Height = {{ post.node_height }}</h4>
            <h4>Flags = {{ post.node_flags }}</h4>
            <h4>SUCH UPDATE NEEDED</h4>
            <a href="/claim/{{ post.id }}">Claim</a>
</center>

<br /><br />

{% endblock %}

